[*.cs]

# CS0162: Unreachable code detected
dotnet_diagnostic.CS0162.severity = none

# Top-most EditorConfig file
root = true

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = none

# 4 space indentation for all files
[*]
indent_style = tab
indent_size = 4